@font-face
{
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSans-Regular.ttf")
}
@font-face
{
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSans-Bold.ttf")
}
*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a 
{
  text-decoration: none;
}
body
{
  margin: 0;
  position: relative;
}
.background
{
  position: absolute;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.pop_up
{
  width: 280px;
  height: 410px;
  position: fixed;
  left: calc(50% - 140px);
  top: calc(50% - 210px);
  padding: 30px 25px 31px 25px;
  z-index: 4;
  background-color: white;
}
.pop_up_cross
{    
  position: absolute;
  width: 55px;
  height: 55px;
  top: -50px;
  right: -11px;
}
.pop_up_cross span
{
  width: 16px;
  height: 3px;
  background-color: white;
  display: block;
  position: absolute;
  top: 35px;
  right: 11px;
  
}
.first_cross
{
  transform: rotate(45deg);
}
.second_cross
{
  transform: rotate(-45deg);
}
._hidden
{
  display: none;
}
.pop_up_container
{
  text-align: center;
}

.pop_up_title
{
  text-transform: uppercase;
  font-size: 14px;
  font-family: OpenSansBold;
}
.pop_up_title::after
{
  content: "";
  display: block;
  width: 46px;
  height: 3px;
  background-color: #e1d9bd;
  text-align: center;
  margin: 6px auto 15px auto; 
}
.pop_up_counter p
{
  font-size: 10px;
  text-align: left;
  margin-bottom: 8px;
  font-family: OpenSansRegular;
}
.pop_up_select
{
  width: 230px;
  height: 30px;
  font-size: 9px;
  background-color: #f3f7f6;
  border: none;
  padding-left: 8px;
}
.pop_up_counter
{
  margin-bottom: 23px;
}
.pop_up_subscribe 
{
  font-size: 10px;
  text-align: left;
  margin-bottom: 19px;
}
.pop_up_subscribe p
{
  margin-bottom: 3px;
  font-family: OpenSansRegular;
}
.first_btn
{
  margin-right: 9px;
}

.pop_up_feedback p 
{
  text-align: left;
  font-size: 10px;
  font-family: 'OpenSansRegular';
  line-height: 11px;
  margin-bottom: 5px;

}
.feedback_btn
{
  width: 231px;
  height: 34px;
  background-color: #b69f5b;
  border: none;
  color: white;
  font-family: OpenSansBold;
  font-size: 11px;
}
.commentary
{
  width: 231px;
  height: 96px;
  border: none;
  background-color: #f3f7f6;
  margin-bottom: 13px;
  padding: 15px 16px 0px 16px;
  font-size: 9px;
}
/*шапка сайта*/
.header
{
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
  
  position: relative;
  z-index: 1;
}
.header_container
{
  width: 1200px;
  margin: 0 auto;
  padding: 28px 15px 127px 15px;
}
.header::before
{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}

.header_top_panel
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_burger_menu
{
  display: none;
}
.header_logo
{
  width: 181px;
  height: 42px;
  padding-left: 3px;
}

.nav_list
{
  display: flex;
  margin: 0;
  padding: 0;
}

.list_item
{
  list-style: none;
  display: inline-block;
  margin: 0  35px 0 0;

}

.list_item:last-child
{
  margin-right: 0; 
}

.item_link
{
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-family: OpenSansRegular;
  text-transform: uppercase;
}
.item_link:hover {
  text-decoration: underline;
  color: white;
}

.header_title
{
  margin: auto;
  width: 690px;
  
  font-size: 45px;
  font-family: OpenSansBold;
  color: white;
  
  text-transform: uppercase;
  text-align: center;
  margin-top: 99px;
  line-height: 75px;
}
/*сейчас в тренде*/

.trends_title 
{
  font-family: OpenSansBold;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 57px 0px 27px 0px;
}
.trends_title::after
{
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  text-align: center;
  margin: 9px auto 0 auto; 
}
.trends_topics_container
{
  display: flex;
  gap: 4px;
}
.trends_topic
{ 
  width: 25%;
  position: relative;
  height: 320px;
  
  background-color: black;
  background-repeat:no-repeat;
  background-size: cover;
  padding: 0px 22px 16px 18px;
  z-index: 0;

  display: flex;
  justify-content: center;
  
}
.trends_first
{
  background-image: url("../image/trend1.jpg");
}
.trends_second
{
  background-image: url("../image/trend2.jpg");
}
.trends_third
{
  background-image: url("../image/trend3.jpg");
}
.trends_fourth
{
  background-image: url("../image/trend4.jpg");
}
.trends_topic::before
{
  content: "";
  display: block;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.65;
  position: absolute;
  left: 0px;
  z-index: -1;
}
.trends_title_container
{
  text-transform: uppercase;
  font-size: 14px;
  border: solid 3px #76693c;
  padding: 32px 37px 34px 35px;
  align-self: flex-end;
}
.trends_teg_name
{
  font-family: OpenSansBold;
  font-size: 14px;
  color: #b59f5b;
  margin-right: 16px;
  list-style-type: none;
  color: #b59f5b;

}
.tends_teg_name_link {
  color: inherit;
}
.tends_teg_name_link:hover {
  text-decoration: underline;
}
.tends_teg_name_container {
  display: flex;
}
.trends_topics_title
{
  margin-top: 6px;
  margin-bottom: 0px;
}
.trends_topic_title_link
{
  display: block;
  font-family: OpenSansBold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(255, 255, 255);
}




/*основной контент сайта*/
.main_content_container
{
  display: flex;
  width: 1200px;
  padding: 59px 15px 64px 15px;
  margin: 0 auto;
}
.page_topics
{
  display: flex;
  width: 778px;
  margin-bottom: 60px;
}
.page_topics:last-child
{
  margin-bottom: 0;
}


.news_image
{
  width: 381px;
  height: 295px;
  margin-right: 30px;
  
}
.topic_img_container {
  width: 381px;
  height: 295px;
  margin-right: 30px;
}
.topic_description_conteiner
{
  width: 367px;
}

.topic_top_tegs
{
  text-transform: uppercase;
  font-size: 14px;
  display: flex;
  
}
.topic_teg_name
{
  font-family: OpenSansBold;
  font-size: 14px;
  color: #b59f5b;
  margin-right: 16px;
  list-style-type: none;
}
.topic_teg_link {
  color: inherit;
  display: inline-block;
}
.topic_teg_link:hover {
  text-decoration: underline;
}
.topic_teg_name:last-child
{
  margin-right: 0;
}
.topics_title
{
  margin-top: 6px;
  margin-bottom: 27px;
}
.topics_title_link
{
  display: block;
  font-family: OpenSansBold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
.topic_additional_inf
{
  margin-bottom: 45px;
}
.topic_data
{
  font-family: OpenSansRegular;
  font-size: 12px;
  color: #989898;
}
.autor
{
  font-family: OpenSansBold;
  font-size: 12px;
  margin-left: 8px;
}
.topic_description
{
  margin: 0;
  font-family: OpenSansRegular;
  font-size: 15px;
  
  line-height: 23px;
}

/*раздел с изделиями*/


.products_title 
{
  font-family: OpenSansBold;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 21px;
}
.products_title::after
{
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  text-align: center;
  margin: 9px auto 0 auto; 
}
.products_items_container
{
  max-width: 1200px;
  margin: auto;
  padding: 0 0px;
  margin-bottom: 35px;
  display: flex;
  justify-content: center ;
  gap: 0px 65px;
 
}
.products_item
{
  width: 348px;
  text-align: center;

}
.products_item_container
{   
  border: solid 4px #d3c59d;
  position: relative;
  bottom: 30px;
  padding: 44px 21px 20px 20px;
  text-align: start;
  box-sizing: content-box;
  min-height: 197px;
}
.product_item_title
{
  font: 20px OpenSansBold;
  text-transform: uppercase;
  margin-bottom: 5px;

}
.products_item_description
{
  font: 15px OpenSansRegular;
  margin-bottom: 26px;
}
.price
{
  display: block;
  position: relative;
  font-family: OpenSansBold;
  font-size: 21px;
}
.crossing
{
  font-size: 10px;
}
.crossing::before
{   
  content: "";
  position: absolute;
  top: 7px;
  width: 25px;
  height: 1px;
  background-color: black;
}
.products_price
{
  font: 14px OpenSansBold;
}
.products_item_link
{
  color: #b59f5b;
}
.products_price
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products_pic_container {
  width: 300px;
  height: 204px;
  margin: auto;
}
.products_btn
{
  
  color: white;
  border: none;
  display: block;
  width: 140px;
  height: 48px;
  background-color: #b59f5b;
}

/*блок доп. информации, новые посты */
.aside
{
  margin-left: 120px;

}
.aside_sections_titles
{
  font-family: OpenSansBold;
  font-size: 14px;
  padding-bottom: 27px;
  text-transform: uppercase;
  
  margin: 0;
  text-align: center;
}

.new_posts_conteiner
{
  margin-bottom: 60px;
}
.aside_sections_titles::after
{
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  text-align: center;
  margin: 9px auto 0 auto; 
}
.aside_new_posts
{
  margin-bottom: 58px;
}
.aside_new_post_item
{
  display: flex; 
  margin-bottom: 22px;
 
}
.new_post_last_item
{
  margin-bottom: 0;
}
.aside_post_image
{
  width: 70px;  
  height: 70px;
  margin-right: 19px;
}
.new_post_date
{
  display: block;
  color: #7e7e7e;
  font-family: OpenSansRegular;
  font-size: 12px;
  
  margin-bottom: 1px;
  
}
.new_post__title_link
{
  display: block;
  text-decoration: none;
  color: black;
  font-family: OpenSansBold;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 17px;
}
.aside_search_form
{
  display: flex;
  height: 48px;
  width: 267px;
  margin: auto;
}
.aside_search_field
{
  border: none;
  width: 100%;
  background-color: #f4f7f6;
  padding-left: 18px;
}
.aside_search_field:focus 
{
  outline: none;
  
}
.aside_search_field:hover 
{
  border: 2px solid #b59f5b;
}
.distrib_input:hover 
{
  border: 2px solid #b59f5b;
}
.aside_search_btn
{
  border: none;
  width: 59px;
  background-color: #b59f5b;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center;
}

.aside_serch_btn_icon
{
  width: 18px;
  height: 18px;
}

/*блок доп. информации, расслыка */
 .aside_distribution
{
  margin-bottom: 54px;
}
.distrib_input
{
  background-color: #f4f7f6;
  padding-left: 18px;
  display: block;
  width: 100%;
  border: none;
  height: 48px;
  margin-bottom: 18px;
}
.dictr_subscribe_btn
{
  width: 100%;
  border: none;
  background-color: #b59f5b;
  color: white;
  height: 48px;
  font-family: OpenSansBold;
  font-size: 14px;
  text-transform: uppercase;
}
.distrib_input:focus 
{
  outline: none;
}


/*блок доп. информации, теги */
.aside_tegs
{
   margin-bottom: 51px;
}

.aside_tegs_list
{
  width: 267px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5px 5px;
  padding: 0;
}
.aside_tegs_item
{
  list-style: none;
}
.tegs_list_links
{
  display: block;
  text-decoration: none;
  color: black;
  font-family: OpenSansBold;
  font-size: 12px;
  text-transform: uppercase;
  padding: 4px 14px 4px 14px;
  border: solid 3px #eeeeee;
}

/*блок доп. информации, темы */

.aside_topics_list
{
  padding: 0;
}
.aside_topics_items
{
  list-style: none;
  padding: 0;
}
.aside_topics_items::after
{
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #eeeeee;
  margin-bottom: 19px;
}
.aside_topics_list_link
{
  display: inline-block;
  text-decoration: none;
  color: black;
  font-family: OpenSansBold;
  font-size: 14px;
  margin-bottom: 4px;
}
.topic_top_index
{
  position: relative;
  color: #c5b585;
  bottom: 8px;
  left: 5px;
  font-size: 12px;
  font-family: OpenSansBold;
}

/*блок с ссылками на соцю сети и копирайт*/
.footer
{
  width: 1200px;
  margin: 0 auto;
  
}
.social_media_links
{
  padding: 0 15px 41px 15px;  
}
.footer_social
{

  margin: 0 auto;
  text-align: center;
  margin-bottom: 73px;
  background-color: #f4f7f6;
  padding: 30px 0 30px 0;
  display: flex;
  justify-content: center;
}
.social_media_item
{
  list-style: none;
  margin-right: 30px;
 
}
.social_media_item:last-child
{
  margin-right: 0;
}
.social_media_link
{
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
}
.dribbble
{
  background-color: #f4f7f6;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}
.pinterest
{
  background-color: #f4f7f6;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}
.tumblr
{
  background-color: #f4f7f6;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} 

.footer_copyright_inf
{
  text-align: center;
}
.copyright_text
{
  display: block;
  text-decoration: none;
  color: #999999;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 12px;
}
@media (max-width: 640px) and (orientation: landscape) {
  .header_burger_menu
  {
    display: flex;
    flex-direction: column;
    gap: 4px 0px;
    position: absolute;
    top: 33px;
    right: 17px;
  }
  
  .burger_menu
  {
    display: block  ;
    background-color: white;
    height: 3px;
    width: 22px;
  }
  
  .header
  { 

    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
    background-position: 35%;
    width: 100%;
  }
  .header_title
  {
    width: 100%;
    font-size: 26px;
    line-height: 35px;
    margin-top: 14px;
    padding: 0 15px;
  }
  .header_container
  {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 195px 0px 215px 0px;
  }
  .header::before
  {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
  }
  .trends_title
  {
    font-size: 16px;
    margin-top: 38px;
    margin-bottom: 27px;
  }
  .trends_title::after
  {
    margin: 5px auto 0 auto;
    width: 67px;
    height: 2px;
  }
  .page_nav
  {
    display: none;
  }
  .header_logo
  {
    width: 270px;
    height: 110px;
    margin: auto;
    padding-left: 0;
  }
  .header_top_panel
  {
    display: block;
    margin: auto;
  }
  .tends_teg_name_link {
    font-size: 12px;
  }
  .trends_topics_container
  {
    width: 100%;
    flex-wrap: wrap;
    gap: 2px 1px;
  }
  .trends_title_container
  {
    width: 325px;
    padding: 32px 7px 24px 17px; ;
    margin: 0px 0 12px 0;;
    border: solid 3px #76693c;
    
  }
  .trends_topic
  {
    min-height: 230px;
    height: auto;
    padding: 0;
  }
  .trends_teg_name 
  {
    display: inline-block;
    font-size: 7px;
    padding-left: 1.5px;
    margin-bottom: 9px;
    margin-right: 4px;
  }
  .trends_topic_title_link
  {
    font-size: 16px;
    line-height: 10px;
    line-height: 28px;
  }
  .trends_topics_title
  {
    margin-top: 0;
  }
  .main_content_container
  {
    width: 100%;
    display: block;
    padding: 22px 7px 0 7px;
  }
  .page
  {
    width: 100%;
  }
  .page_topics
  {
    display: block;
    width: 330px;
    height: 350px;
    padding-right: 15px;
    margin-bottom: 0px;
    margin: auto;
  }
  .topic_img_container {
    width: 325px;
    height: 260px;
  }
  .topic_description_conteiner {
    width: 165px;
  }
  
  .margin_third
  {
    margin-bottom: 17px;
  }
  .margin_fourth
  {
    margin-bottom: 0px;
    height: 240px;
  }
  .topics_title
  {
    margin-top: 0px;
    margin-bottom: 2px;
  }
  .topic_top_tegs {
    margin-top: 10px;
  }
  .news_image
  {
    width: 325px;
    height: 260px;
    margin-right: 0;
   
  }
  .topics_title_link
  {
    font-size: 16px;
    line-height: 13px;
  }
 
  .topic_teg_name
  {
    font-size: 14px;
    margin-right: 6px;
  }
  .topic_additional_inf
  {
    margin-bottom: 4px;
  }
  .topics_title_link
  {
    font-size: 8px;
    line-height: 10px;
  }
  .topic_data 
  {
    font-size: 6px;
  }
  .autor
  {
    font-size: 6px;
    margin-left: 2px;
  }
  .aside_sections_titles
  {
    font-size: 8px;
    
  }
  .first
  {
    padding-bottom: 12px;
    padding-top: 10px;
  }
  .third
  {
    padding-bottom: 11px;
  }
  .fourth
  {
    padding-top: 18px;
    padding-bottom: 5px;
  }
  .new_post__title_link
  {
    font-size: 7px;
    line-height: 10px;
  } 
  .new_post_date
  {
    font-size: 6px;
    margin-bottom: 0px;
  }
  .new_posts_conteiner
  {
    margin-bottom: 31px;
  }
  .aside_search_form 
  {
    height: 41px;
    width: 166px;
  }
  .aside_search_field::placeholder
  {
    font-size: 8px;
  }
  .aside_search_field
  {
    height: 22px;
    padding: 0px 0 0px 9px;
  }
  .aside_search_btn 
  {
    width: 30px;
    height: 22px;
    background-size: 10px 10px;
  }
  .aside_new_post_item 
  {
    margin: auto;
    margin-bottom: 11px;
    width: 180px;
  }
  .aside_post_image
  {
    width: 36px;
    height: 35px;
    margin-right: 10px;
  }
  .aside_new_posts 
  {
    margin-bottom: 0px;
  }
  .aside_sections_titles::after
  {
    height: 1px;
    width: 32px;
    margin-top: 7px;
   
  }
  .tegs_list_links
  {
    font-size: 6px;
    padding: 2px 6px 2px 6px;
    border: solid 1px #eeeeee;
  }
  .dictr_subscribe_btn 
  {
    height: 23px;
    font-size: 7px;
  }
  .topic_description
  {
    font-size: 7px;
    line-height: 10px;
  }
  .aside_distribution 
  {
    margin-bottom: 0px;
    width: 166px;
    margin: auto;
  }
  .aside
  {
    margin-left: 0px;
  }
  .aside_topics_items
  {
    height: 23px;
  }
  .aside_topics_list
  {
    width: 180px;
    margin: auto;
  }
  .aside_topics_list_link 
  {
    font-size: 7px;
    margin: auto;
  }
  .aside_tegs 
  {
    margin-bottom: 0px;
    
  }
  .aside_tegs_list
  {
    width: 180px;
  }
  .aside_topics
  {
    width: 100%;
  }
  .topic_top_index
  {
    font-size: 6px;
  }
  .products_items_container
  {
    flex-wrap: wrap;
    width: 180px;
    padding: 0px;
    margin-bottom: 0px;
  }
  .product_item_title
  {
    font-size: 9px;
    
  }
  .products_pic_container {
    width: 142px;
    height: 142px;
  }
  .products_item_container
  {
    border: solid 2px #d3c59d;
    padding: 24px 8px 9px 8px;
    width: 148px;
    display: block;
    box-sizing: content-box;
    margin: auto;
    min-height: 75px;
  }
  .products_item
  {
    width: 100%;
    
  }
  .item_second
  {
    padding: 24px 8px 29px 8px;
  }
  
  .products_title 
  {
    font-size: 8px;
    margin-top: 21px;
  }
  .products_title::after
  {
    width: 35px;
    height: 1px;
    margin-top: 6px;
    margin-bottom: 14px;
  }
  .products_item_description 
  {
    font-size: 7px;
    margin-bottom: 14px;
  }
  .products_picture
  {
    height: 130px;
    width: 142px;
  }
  .products_price
  {
    font-size: 10px;
   
  }
  .price
  {
    font-size: 11px;
  }
  .products_btn
  {
    width: 71px;
    height: 25px;
    font-size: 10px;
  }
  .crossing
  {
    font-size: 6px;
  }
  .crossing::before 
  {
    top: 4px;
    width: 19px;
  }
  .distrib_input 
  {
    padding-left: 9px;
    height: 20px;
  }
  .distrib_input::placeholder
  {
    font-size: 8px;
  }
  .distrib_input 
  {
    margin-bottom: 3px;
    position: relative;
    bottom: 13px;
  }
  .dictr_subscribe_btn 
  {
    margin-bottom: 15px;
  }
  .footer
  {
    width: 100%;
  }
  .social_media_links
  {
    padding: 0;
  }
  .footer_social
  {
    margin-bottom: 22px;
    padding: 10px 0px 10px 0px;
    width: 163px;
  }
  .social_media_item 
  {
    margin-right: 14px;
  }
  .social_media_link 
  {
    width: 10px;
    height: 10px;
  }
  .dribbble
  {
    background-size: 10px 10px;
  }
  .pinterest
  {
    background-size: 10px 10px;
  }
  .tumblr
  {
    background-size: 10px 10px;
  }
  .copyright_text 
  {
    font-size: 6px;
  }
}
@media (max-width: 640px) and (orientation: portrait) {
  .header_burger_menu
  {
    display: flex;
    flex-direction: column;
    gap: 4px 0px;
    position: absolute;
    top: 33px;
    right: 17px;
  }
  
  .burger_menu
  {
    display: block  ;
    background-color: white;
    height: 3px;
    width: 22px;
  }
  
  .header
  { 

    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
    background-position: 35%;
    width: 100%;
  }
  .header_title
  {
    width: 100%;
    font-size: 26px;
    line-height: 35px;
    margin-top: 14px;
    padding: 0 15px;
  }
  .header_container
  {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 195px 0px 215px 0px;
  }
  .header::before
  {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
  }
  .trends_title
  {
    font-size: 16px;
    margin-top: 38px;
    margin-bottom: 27px;
  }
  .trends_title::after
  {
    margin: 5px auto 0 auto;
    width: 67px;
    height: 2px;
  }
  .page_nav
  {
    display: none;
  }
  .header_logo
  {
    width: 270px;
    height: 110px;
    margin: auto;
    padding-left: 0;
  }
  .header_top_panel
  {
    display: block;
    margin: auto;
  }

  .trends_topics_container
  {
    width: 100%;
    flex-wrap: wrap;
    gap: 2px 0px;
  }
  .trends_title_container
  {
    width: 325px;
    padding: 32px 7px 24px 17px; ;
    margin: 0px 0 12px 0;;
    border: solid 3px #76693c;
    
  }
  .trends_topic
  {
    min-height: 230px;
    width: 100%;
    height: auto;
    padding: 0;
  }
  .trends_teg_name 
  {
    display: inline-block;
    font-size: 7px;
    padding-left: 1.5px;
    margin-bottom: 9px;
    margin-right: 4px;
  }
  .tends_teg_name_link {
    font-size: 12px;
  }
  .trends_topic_title_link
  {
    font-size: 16px;
    line-height: 10px;
    line-height: 22px;
  }
  .trends_topics_title
  {
    margin-top: 0;
  }
  .main_content_container
  {
    width: 100%;
    display: block;
    padding: 50px 7px 0 7px;
  }
  .page
  {
    width: 100%;
  }
  .page_topics
  {
    display: block;
    width: 376px;
    min-height: 445px;
    padding: 0 42px 0 7px;
    margin-bottom: 0px;
    margin: auto;
  }
  .page_topics::after {
    content: "";
    display: block;
    width: 330px;
    height: 2px;
    margin-top: 21px;
    margin-bottom: 36px;
    background-color: #eeeeee;
  }
  .topic_img_container {
    width: 325px;
    height: 260px;
    margin-right: 0px;
  }
  .topic_description_conteiner {
    width: auto;
  }
  .topic_top_tegs {
    margin-top: 7px;
    margin-bottom: 5px;
  }
  .news_image
  {
    width: 327px;
    height: 255px;
    margin-right: 0;
   
  }
  .topics_title_link
  {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 12px;
  }
 
  .topic_teg_name
  {
    font-size: 14px;
    margin-right: 17px;
  }
  .margin_third
  {
    margin-bottom: 44px;
  }
  .margin_fourth
  {
    margin-bottom: 31px;
  }
  
  .topics_title
  {
    margin-top: 0px;
    margin-bottom: 2px;
  }
  .topic_additional_inf
  {
    margin-bottom: 16px;
  }
  .topic_data 
  {
    font-size: 12px;
  }
  .autor
  {
    font-size: 12px;
    margin-left: 7px;
  }
  .aside_sections_titles
  {
    font-size: 16px;
    
  }
  .first
  {
    padding-bottom: 26px;
    padding-top: 10px;
  }
  .third
  {
    padding-bottom: 11px;
  }
  .fourth
  {
    padding-top: 18px;
    padding-bottom: 5px;
  }
  .new_post__title_link
  {
    font-size: 14px;
    line-height: 15px;
  } 
  .new_post_date
  {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .new_posts_conteiner
  {
    margin-bottom: 58px;
  }
 
  .aside_search_form 
  {
    height: 88px;
    width: 330px;
  }
  .aside_search_field::placeholder
  {
    font-size: 16px;
  }
  .aside_search_field
  {
    height: 50px;
    padding: 0px 0 0px 15px;
  }
  .aside_search_btn 
  {
    width: 55px;
    height: 45px;
    background-size: 30px 20px;
  }
  .aside_new_post_item 
  {
    margin: auto;
    margin-bottom: 24px;
    width: 325px;
  }
  .aside_post_image
  {
    width: 69px;
    height: 69px;
    margin-right: 20px;
  }
  .aside_new_posts 
  {
    margin-bottom: 0px;
  }
  .aside_sections_titles::after
  {
    height: 2px;
    width: 70px;
    margin-top: 7px;
   
  }
  .tegs_list_links
  {
    font-size: 6px;
    padding: 2px 6px 2px 6px;
    border: solid 1px #eeeeee;
  }
  .dictr_subscribe_btn 
  {
    height: 23px;
    font-size: 7px;
  }
  .topic_description
  {
    font-size: 14px;
    line-height: 19px;
  }
  .aside_distribution 
  {
    margin-bottom: 0px;
    width: 330px;
    margin: auto;
  }
  .aside
  {
    margin-left: 0px;
  }
  .aside_topics_items
  {
    height: 23px;
  }
  .aside_topics_list
  {
    width: 180px;
    margin: auto;
  }
  .aside_topics_list_link 
  {
    font-size: 7px;
    margin: auto;
  }
  .aside_tegs 
  {
    margin-bottom: 0px;
    
  }
  .aside_tegs_list
  {
    width: 180px;
  }
  .aside_topics
  {
    width: 100%;
  }
  .topic_top_index
  {
    font-size: 6px;
  }
  .products_items_container
  {
    flex-wrap: wrap;
    width: 180px;
    padding: 0px;
    margin-bottom: 0px;
    
  }
  .products_pic_container {
    width: 142px;
    height: 142px;
  }
  .product_item_title
  {
    font-size: 9px;
    
  }
  .products_item_container
  {
    border: solid 2px #d3c59d;
    padding: 34px 12px 13px 10px;
    width: 140px;
    display: block;
    box-sizing: content-box;
    margin: auto;
    min-height: 75px;
   
  }
  .products_item
  {
    width: 100%;
    
  }
  .item_second
  {
    padding: 17px 8px 16px 8px;
  }
  .item_third
  {
    padding: 10px 8px 10px 8px;
  }
  .products_title 
  {
    font-size: 8px;
    margin-top: 21px;
    margin-bottom: 14px;
  }
  .products_title::after
  {
    width: 35px;
    height: 1px;
    margin-top: 6px;
    margin-bottom: 14px;
  }
  .products_item_description 
  {
    font-size: 7px;
    margin-bottom: 10px;
    line-height: 11px;
  }
  .products_picture
  {
    height: 130px;
    width: 142px;
  }
  .products_price
  {
    font-size: 10px;
   
  }
  .price
  {
    font-size: 11px;
  }
  .products_btn
  {
    width: 71px;
    height: 25px;
    font-size: 10px;
  }
  .crossing
  {
    font-size: 6px;
  }
  .crossing::before 
  {
    top: 4px;
    width: 19px;
  }
  .distrib_input 
  {
    padding-left: 9px;
    height: 20px;
  }
  .distrib_input::placeholder
  {
    font-size: 8px;
  }
  .distrib_input 
  {
    margin-bottom: 3px;
    position: relative;
    bottom: 13px;
  }
  .dictr_subscribe_btn 
  {
    margin-bottom: 15px;
  }
  .footer
  {
    width: 100%;
  }
  .social_media_links
  {
    padding: 0;
  }
  .footer_social
  {
    margin-bottom: 28px;
    padding: 10px 0px 10px 0px;
    width: 163px;
  }
  .social_media_item 
  {
    margin-right: 14px;
  }
  .social_media_link 
  {
    width: 10px;
    height: 10px;
  }
  .dribbble
  {
    background-size: 10px 10px;
  }
  .pinterest
  {
    background-size: 10px 10px;
  }
  .tumblr
  {
    background-size: 10px 10px;
  }
  .copyright_text 
  {
    font-size: 6px;
  }
}


@media (min-width: 641px) and (max-width: 1200px) and (orientation: portrait)
{
  .header
  {
    padding: 0px 0px 0px 0px;  
  }
  .header_container
  {
    width: 100%;
    margin: auto;
    padding: 40px 35px 110px 35px;
  }
  .header_title
  {
    font-size: 39px;
    margin-top: 79px;
    width: 600px;
    line-height: 58px;
  }
  .header_logo
  {
    width: 159px;
  }
  .header_burger_menu
  {
    display: flex;
    flex-direction: column;
    gap: 5px 0px;

  }
  .burger_menu
  {
    display: block ;
    background-color: white;
    height: 3px;
    width: 23px;
  }
  .page_nav
  {
    display: none;
    position: absolute;
  }
  
  .header_top_panel
  {
    width: 100%;
  }
  .trends_title 
  {
    font-size: 18px;
    margin-top: 43px;
    margin-bottom: 20px;
  }
  .trends_topic_title_link 
  {
    font-size: 16px;
  }
  
  .trends_topics_container
  {
    flex-wrap: wrap;
    
    
  }
  .trends_topic:nth-child(2n+1)
  {
    margin-right: 4px;
  }
  
  .trends_topic
  {
    width: calc(50% - 4px);
    height: 247px;
    margin-bottom: 3px;
  }
  .trends_title_container 
  {
    padding: 26px 40px 26px 33px;
  }
  .main_content_container
  {
    width: 641px;
    padding: 45px 5px 64px 5px;
    gap: 0px 14px;
  }
  .news_image
  {
    width: 388px;
    height: 305px;
  }
  .topics_title
  {
    margin-top: 14px;
    margin-bottom: 27px;
  }
  .topics_title_link
  {
    font-size: 17px;
  }
  .topic_top_tegs {
    margin-top: 15px;
  }
  .topic_additional_inf 
  {
    margin-bottom: 27px;
  }
  .autor 
  {
    margin-left: 6px;
  }
  .page
  {
    width: 61%;
    margin-top: 3px;
  }
  .topic_description_conteiner
  {
    width: 388px;
    
  }
  .new_post__title_link {
    width: 197px;
  }
  .page_topics
  {
    display: block;
    width: 100%;
    margin-right: 30px;
  }
  .aside
  {
    margin-left: 0px;
    width: 39%;
  }
  .aside_sections_titles 
  {
    margin-bottom: 2px;
  }
  .aside_search_form
  {
    width: 100%;
  }
  .aside_tegs_list
  {
    width: 100%;
    gap: 3px 4px;
  }
  .products_title 
  {
    font-size: 18px;
  }
  .products_title::after
  {
    margin-top: 7px;
  }
  .products_items_container
  {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
    width: 641px;
    padding: 4px 0px 0px 0px;
    gap: 0px 0px;
    
  }
  .products_item
  {
    width: 50%;
    
  }
  .products_pic_container {
    width: 250px;
  }
  .product_item_title 
  {
    font-size: 17px;
  }
  .products_item_description 
  {
    font-size: 14px;
  }
  .products_item_container
  {
    padding: 45px 25px 19px 21px;
    width: 250px;
    position: relative;
    right: 0px;
    left: 5px;
  }
  .products_picture
  {
    width: 250px;
    height: 200px;
  }
  .footer
  {
    width: 641px;
  }
  .footer_social
  {
    margin-bottom: 46px;
  }

}
@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape)
{
  .header
  {
    padding: 0px 0px 0px 0px;  
  }
  .header_container
  {
    width: 100%;
    margin: auto;
    padding: 40px 35px 110px 35px;
  }
  .header_title
  {
    font-size: 39px;
    margin-top: 79px;
    width: 600px;
    line-height: 58px;
    padding-right: 35px;
  }
  .header_logo
  {
    width: 159px;
  }
  .header_burger_menu
  {
    display: flex;
    flex-direction: column;
    gap: 5px 0px;

  }
  .burger_menu
  {
    display: block ;
    background-color: white;
    height: 3px;
    width: 23px;
  }
  .page_nav
  {
    display: none;
    position: absolute;
  }
  
  .header_top_panel
  {
    width: 100%;
  }
  .trends_title 
  {
    font-size: 18px;
    margin-top: 43px;
    margin-bottom: 20px;
  }
  .trends_topic_title_link 
  {
    font-size: 0.4em;
    line-height: 1.5em;
  }
  
  .trends_topics_container
  {
    flex-wrap: wrap;
    gap: 0px 2px;
  }
  .trends_teg_name
  {
    font-size: 0.4em;
    margin-right: 0.1em;
  }

  .trends_topic
  {
    width: calc(25% - 2px);
    height: 247px;
    margin-bottom: 3px;
  }
  .trends_title_container 
  {
    padding: 26px 40px 26px 33px;
  }
  .main_content_container
  {
    width: 641px;
    padding: 45px 5px 64px 5px;
    gap: 0px 20px;
    
  }
  .news_image
  {
    width: 388px;
    height: 305px;
  }
  .topics_title
  {
    margin-top: 14px;
    margin-bottom: 27px;
  }
  .topics_title_link
  {
    font-size: 17px;
  }
  .topic_top_tegs {
    margin-top: 15px;
  }
  .topic_additional_inf 
  {
    margin-bottom: 27px;
  }
  .autor 
  {
    margin-left: 6px;
  }
  .page
  {
    width: 61%;
    margin-top: 3px;
  }
  .topic_description_conteiner
  {
    width: 388px;
  }
  .page_topics
  {
    display: block;
    width: 100%;
    margin-right: 30px;
  }
  .aside
  {
    margin-left: 0px;
    width: 39%;
  }
  .aside_sections_titles 
  {
    margin-bottom: 2px;
  }
  .aside_search_form
  {
    width: 100%;
  }
  .aside_tegs_list
  {
    width: 100%;
    gap: 3px 4px;
  }
  .products_title 
  {
    font-size: 18px;
  }
  .products_title::after
  {
    margin-top: 7px;
  }
  .products_items_container
  {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
    width: 641px;
    padding: 4px 0px 0px 0px;
    gap: 0px 20px;
    
  }
  .products_item
  {
    width: 48%;
    
  }
  .product_item_title 
  {
    font-size: 17px;
  }
  .products_item_description 
  {
    font-size: 14px;
  }
  .new_post__title_link {
    
    width: 197px;

  }
  .products_item_container
  {
    padding: 45px 25px 19px 21px;
    width: 250px;
    position: relative;
    right: 0px;
  }
  .tegs_list_links {
    padding: 4px 8px 4px 8px;
  }
  .products_picture
  {
    width: 250px;
    height: 200px;
  }
  .footer
  {
    width: 641px;
  }
  .footer_social
  {
    margin-bottom: 46px;
  }

}